@import './bootstrap_custom.scss';
@import './multi_carousel.scss';
body {
  background:   #1a0000;
}
nav.navbar {
  background-color: rgba(0,0,0,0.7);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:3;
  padding: 12px 1em;
  .navbar-brand {
    a {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      color: gold;
      letter-spacing: .2em;
      text-decoration: none;
      padding-right: 1em;
    }
  }
  form {
    position: absolute;
    left: 14em;
  }
  input {
    outline: none;
    border-radius: 5px;
    border-color:black;
    outline-style: inset;
  }
  #nav-menu{
    .nav-item {
      padding-left: 1.5em;
      a {
        color: silver;
        text-decoration: none;
        letter-spacing: 1px;
        &:hover {
          color:gold;
        }
      }
    }
  }
}
.notice, .alert {
  text-align:center;
  width: 100vw;
  background-color: rgba(0,0,0,0.7);
  border-top: 2px solid  #1a0000;
  border-radius: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 62px;
  z-index:1;
  padding: .25em 0;
}
.notice {
  color: silver;
}
.alert {
  color: silver;
}
.jumbotron {
  background: silver;
  padding: 2em;
  margin-top: 1.5em;
}
