#carouselExampleControls {
  margin-bottom: 2em !important;
  -webkit-box-shadow: 0px 41px 94px 30px rgba(0,0,0,0.79);
  -moz-box-shadow: 0px 41px 94px 30px rgba(0,0,0,0.79);
  box-shadow: 0px 41px 94px 30px rgba(0,0,0,0.79);
}
.slide {
  img {
    width:100%;
  }
}

.slide-title {
  position:absolute;
  right: 0;
  top: 5%;
  transform: translate(100%,0);

  padding-left: 1.5em;
  padding-right: 3em;

  padding-top:.5em;
  padding-bottom:.5em;

  text-align: right;

  background: linear-gradient(90deg, rgba(60,60,60, 0.5) 20%, rgba(60,60,60, 0.9), rgba(0,0,0, 0.9) 120%);

  transition: transform 1.5s ease;
  &:hover {
    transform: translate(0,0);
  }

  h1, p {
    margin:0;
    color: rgba(0,0,0,0.8);
  }
  h1 {
    font-family: 'Neuton', serif;
    font-size: 2.8em;
    font-weight:300;
  }
  p {
    font-size:1.5em;
    font-weight: 700;
  }
}
.carousel-item.active:hover .slide-title {
  transform: translate(0,0);
}

.slide-quote {
  position:absolute;
  bottom: 5%;
  width:100%;
  text-align: center;
  p {
    font-family: 'Neuton', serif;
    font-size: 1.5em;
    font-weight:400;
    padding-left: 5%;
    padding-right: 5%;

    color: silver;
    text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 2px #000;

    cursor: pointer;
  }
}

@media screen and (max-width:768px) {
  .slide-quote {
    p {
        display: none;
    }
  }
}
@media screen and (max-width:1000px) {
  .slide-title {
    padding-right: 1em;
  }
  #carouselExampleControls {
    .slide-title {
      h1 {
        font-size: 2em;
      }
      p {
        font-size:1em;
      }
    }
    .slide-quote {
      p {
        font-size: 1em;
        bottom:0;
      }
    }
  }
}
@media screen and (min-width:1200px) {
  #carouselExampleControls {
    max-width: 90%;
    align-self: center;
    margin:auto;
  }
}
