#carouselExampleControls {
  margin-bottom: 2em !important;
  -webkit-box-shadow: 0px 41px 94px 30px rgba(0,0,0,0.79);
  -moz-box-shadow: 0px 41px 94px 30px rgba(0,0,0,0.79);
  box-shadow: 0px 41px 94px 30px rgba(0,0,0,0.79);
}
.slide {
  img {
    width:100%;
  }
}
.slide-title {
  position:absolute;
  top: 5%;
  right: 7%;
  width:55%;
  height: 20%;
  text-align: right;
  h1 {
    font-family: 'Neuton', serif;
    font-size: 4em;
    font-weight:300;
    color: rgba(0,0,0,0);
    transition: color 0.5s linear;
    &:hover {
      color: rgba(0,0,0,0.8);
      cursor: pointer;
    }
  }
}
.carousel-item.active:hover h1 {
    color: rgba(0,0,0,0.8);
    cursor: pointer;
}
@media screen and (max-width:1000px) {
  #carouselExampleControls {
    .slide-title {
      h1 {
        width: 100%;
        font-size: 2.5em;
      }
    }
  }
}
@media screen and (min-width:1200px) {
  #carouselExampleControls {
    width: 90%;
    align-self: center;
    margin:auto;
  }
}
