#movie-show {
  min-height:80vh;
  padding: 2em 0;

  @media screen and (min-width: 1000px) {
      height: 85vh;
      .reviews {
        max-height:100%;
        overflow:scroll;
      }
  }

  margin-bottom: 1.5em;

  color:#191919;
  font-size: 1.2em;

  background: #e9ecef;

  .number {
    font-family: 'Times new roman';
    font-size: 80%;
  }
  h1.number {
    font-size: 1.2em;
    padding-left: .3em;
  }

  p {
    color: black;
    padding-left:.5em;
  }
  .links {
    width:100%;
    margin-top:1em;
    a:hover {
        color:#7F6B00;
    }
  }
  .movie {
    img {
      width:100%;
      min-width: 200px ;
    }
    #poster-placeholder {
      width: 100%;
      background: white;
      text-align: center;
      font-size: 1.5em;
      font-weight: 700;
      color: silver;
      opacity: 0.5;
      height: 450px;
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
  }
  .movie, .description, .reviews {
    padding: 0 2em;
    vertical-align:top;
    display: inline-block;
    width: 33%;
  }
  .description {
     padding-left:0;
  }
  .edit-movie {
    padding: 0;
    vertical-align:top;
    display: inline-block;
    width: 66%;
    .field {
      padding: .2em;
    }
    label {
      width: 20%;
      vertical-align: top;
    }
    input, textarea {
      width: 50%;
      border:1px solid silver;
      outline:none;
      background: rgba(255,255,255,0.7);
      padding: 2px .5em;
    }
    input[type="file"] {
      background:transparent;
      border:none;
      padding-left:2px;
      outline:none;
      &:hover {
        cursor:pointer;
      }
    }
    .actions {
      width:70%;
      background: transparent;
      border-top: 1px solid silver;
      margin-top: 1em;
      padding-top: .5em;
      label {
        width: 28%;
      }
      a, input {
        padding: 0 .5em;
        &:hover {
          color: #7F6B00;
        }
      }
      a {
        border-left: 1px solid silver;
      }
      input {
        background: inherit;
        border: none;
        width:auto;
      }
    }
  }

  #prev_movie, #next_movie {
    background: rgba(0,0,0,.6);
    transition: background-color 1s linear;
    &:hover {
      background: black !important;
    }
    width: 40px;

    position: absolute;
    top: 230px;

    a {
      font-size: 2em;
      font-weight: 700;
      color:silver;

      display:block;

      text-align: center;
    }
  }

  position: relative;
  #prev_movie {
    left: -25px;
  }
  #next_movie {
    right: -25px;
  }
  @media screen and (max-width: 1000px) {
  /* For tablet: */
    .reviews {
      display: block;
      width: 100%;
      .reviews {
        border-left: 0;
      }
    }
    .movie, .description {
      width:49%;
      padding-bottom:2em;
    }
    .edit-movie {
      display: block;
      width: 100%;
      padding: 2em;
      label {
        width: 40%;
      }
      input, textarea {
        width: 59%;
      }
      input[type="file"] {
        background: transparent;
        border:none;
      }
    }
    #prev_movie, #next_movie {
      top: 175px;
      width: 30px;
      a {
        font-size: 1.5em;
        line-height: normal;
      }
    }
    #prev_movie {
      left: -20px;
    }
    #next_movie {
      right: -20px;
    }
  }
  @media screen and (max-width: 600px) {
  /* For mobile-phone: */
    .movie, .description {
      display: block;
      width: 100%;
      padding-left:2em;
      padding-bottom:2em;
    }
  }
}
