#movie-show {
  min-height:80vh;
  padding: 2em 0;

  @media screen and (min-width: 1000px) {
      height: 80vh;
      .reviews {
        max-height:100%;
        overflow:scroll;
      }
  }

  margin-bottom: 1.5em;

  color:#191919;
  font-size: 1.2em;

  background: #e9ecef;

  .number {
    font-family: 'Times new roman';
    font-size: 80%;
  }

  p {
    color: black;
    padding-left:.5em;
  }
  .links {
    width:100%;
    border-top: 1px solid silver;
    padding-top: .5em;
    margin-left: .5em;
    margin-top:1em;
    a:hover {
        color:#7F6B00;
    }
  }
  .movie {
    img {
      width:100%;
      min-width: 200px ;
    }
  }
  .movie, .description, .reviews {
    padding: 0 2em;
    vertical-align:top;
    display: inline-block;
    width: 33%;
  }
  .description {
     padding-left:0;
  }

  #prev_movie, #next_movie {
    background: rgba(0,0,0,.6);
    transition: background-color 1s linear;
    &:hover {
      background: black !important;
    }
    width: 40px;

    position: absolute;
    top: 230px;

    a {
      font-size: 2em;
      font-weight: 700;
      color:silver;

      display:block;

      text-align: center;
    }
  }

  position: relative;
  #prev_movie {
    left: -25px;
  }
  #next_movie {
    right: -25px;
  }
  @media screen and (max-width: 1000px) {
  /* For tablet: */
    .reviews {
      display: block;
      width: 100%;
      .reviews {
        border-left: 0;
      }
    }
    .movie, .description {
      width:49%;
      padding-bottom:2em;
    }
    #prev_movie, #next_movie {
      top: 175px;
      width: 30px;
      a {
        font-size: 1.5em;
        line-height: normal;
      }
    }
    #prev_movie {
      left: -20px;
    }
    #next_movie {
      right: -20px;
    }
  }
  @media screen and (max-width: 600px) {
  /* For mobile-phone: */
    .movie, .description {
      display: block;
      width: 100%;
      padding-left:2em;
      padding-bottom:2em;
    }
  }
}
